<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}

    {{ form.as_p }} <!--Coloca o form como paragrafo-->

    <button type="submit">Salvar</button>
    {% if transacao %}
        <a href="{% url 'url_delete' transacao.id %}">Remover</a>
    {% endif %}
</form>  
</body>
</html>
<!-- solução para:()
Reverse for 'url_delete' with arguments '('',)' not found. 1 pattern(s) tried: ['delete/(?P<pk>[0-9]+)/$']
-->