<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Listagem</h2>
    <ul>
    <!--Loop pra mostrar todas as minhas transações-->
    {% for transacao in transacoes %}
    <!-- Listar a transação -->
        <li>{{ transacao.descricao }} - {{ transacao.data }} - 
                {{ transacao.valor}} - {{ transacao.categoria}}</li>
    {% endfor %}
    </ul>
    
</body>
</html>